.MainText1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    row-gap: 10px;
}

.MainText1 h1{
    text-align: center;
    font-size: 75px;
    margin: 0;
    color: #ffffff;
}

.MainText1 p{
    text-align: center;
    max-width: 50%;
    margin: 40px auto;
    line-height: 2;
    font-size: 16px;
    color: #ffffff;
}

.MainText1 a{
    background-color: #00A651;
    max-width: fit-content;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
}
