
.NavItems{
    max-width: 60%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    color: white;
}

.navItemsL{
    display: flex;
    column-gap: 30px;
}
.navItemsR{
    display: flex;
    column-gap: 30px;
    margin-right: 20px;
}